<div class="row">
    <div class="col-md-2">
        <file-list title="Материалы" [files]="files" [diplomId]="diplomId"></file-list>
    </div>
    <div class="col-md-6">
        <card>
            <card-header>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button (click)="actionHandler('bold')" class="btn btn-default" data-original-title="Bold - Ctrl+B">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button (click)="actionHandler('italic')" class="btn btn-default" data-original-title="Italic - Ctrl+I">
                            <i class="fa fa-italic"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-original-title="Align Right">
                            <i class="fa fa-align-right"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Align Center">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Align Left">
                            <i class="fa fa-align-left"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-list"></i>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Image Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Маркированый список...</a>
                            </li>
                            <li>
                                <a href="#">Нумерованый список...</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Сложный список...</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-table"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <div class="container" style="max-width: 250px">
                                <div class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Строк">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Столбцов">
                                    </div>
                                    <button class="btn btn-primary">Добавить</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-image"></i>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Image Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Добавить из материалов</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Добавить с компьютера</a>
                            </li>
                            <li>
                                <a href="#">Добавить из интернета</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-link"></i>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Image Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Ссылка на рисунок</a>
                            </li>
                            <li>
                                <a href="#">Ссылка на таблицу </a>
                            </li>
                            <li>
                                <a href="#">Ссылка на формулу</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Ссылка на источник</a>
                            </li>
                            <li>
                                <a href="#">Ссылка на приложение</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-original-title="Preview" (click)="previewCode()">
                            Превью
                        </button>
                        <button class="btn btn-success" data-original-title="Save">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="btn btn-warning" data-original-title="Cancel">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </card-header>
            <card-body>
                <codemirror [(ngModel)]="code" [config]="config">
                </codemirror>
            </card-body>
        </card>
    </div>
    <div class="col-md-4">
        <card title="Превью">
            <card-body>
                <span *ngIf="!pdfSrc" class="text-center">Превью недоступно</span>
                <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true" [original-size]="true" style="display: block;" [show-all]="true">
                </pdf-viewer>
            </card-body>
        </card>
    </div>
</div>