<div class="row">
    <div class="col-md-6">
        <card>
            <card-header>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button (click)="actionHandler('bold')" class="btn btn-default" data-original-title="Bold - Ctrl+B">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button (click)="actionHandler('italic')" class="btn btn-default" data-original-title="Italic - Ctrl+I">
                            <i class="fa fa-italic"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-original-title="Align Right">
                            <i class="fa fa-align-right"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Align Center">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Align Left">
                            <i class="fa fa-align-left"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-original-title="List">
                            <i class="fa fa-list"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Img">
                            <i class="fa fa-image"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="URL">
                            <i class="fa fa-link"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="URL">
                            <i class="fa fa-table"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-original-title="Preview" (click)="previewCode()">
                            Превью
                        </button>
                        <button class="btn btn-default" data-original-title="Save">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="btn btn-default" data-original-title="Cancel">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </card-header>
            <card-body>
                <codemirror [(ngModel)]="code" [config]="config">
                </codemirror>
            </card-body>
        </card>
    </div>
    <div class="col-md-6">
        <card title="Превью">
            <card-body>
                <span *ngIf="!pdfSrc" class="text-center">Превью недоступно</span>
                <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true"  [original-size]="true" style="display: block;" [show-all]="true">
                </pdf-viewer>
            </card-body>
        </card>
    </div>
</div>