<div class="row">
    <div class="col-md-6">
        <card title="Код">
            <card-body>
                <codemirror [(ngModel)]="code"
                    [config]="config"
                >
                </codemirror>
            </card-body>
        </card>
    </div>
    <div class="col-md-6">
        <card title="Превью">
            <card-body>
                <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false">
                </pdf-viewer>
            </card-body>
        </card>
    </div>
</div>