<form [formGroup]="form">
    <card title="Новый руководитель">
        <card-body>
            <input-text title="ФИО" placeholder="Введите ФИО" [control]="form.controls['fio']"></input-text>
            <input-select [control]="form.controls['department']" title="Кафедра" placeholder="Выберите кафедру" [options]="departmentsOptions"></input-select>
            <input-select [control]="form.controls['position']" title="Должность" placeholder="Выберите должность" [options]="positionsOptions"></input-select>
            <input-text title="Нагрузка" placeholder="Введите нагрузку" [control]="form.controls['maxWorkCount']"></input-text>
        </card-body>
        <card-footer>
            <ok-cancel-buttons okTitle="Добавить" (okClick)="submit(form.value)" [okDisabled]="!form.valid" (cancelClick)="goBack()"></ok-cancel-buttons>
            <error-list [errors]="errors"></error-list>
        </card-footer>
    </card>
</form>