<card title="Специальности" [rtList]="getSpecialities" #list="rtList" [showBody]="false">
    <card-header>
        <div class="btn-group btn-group-sm pull-right">
            <a type="button" class="btn btn-default" [routerLink]="['/specialities/new']">
                <i class="fa fa-plus"></i>
                Добавить
            </a>
        </div>
    </card-header>
    <table card-table class='table table-bordered table-striped'>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Краткое название</th>
                <th>Код</th>
                <th>Кафедра</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list.items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.shortName }}</td>
                <td>{{ item.code }}</td>
                <td>
                    <a [routerLink]="['/departments', item.departmentId]">{{item.department}}</a>
                </td>
                <td>
                    <a [routerLink]="['/specialities', item.id]">Редактировать</a>
                </td>
            </tr>
        </tbody>
        <tfoot table-footer [colCount]="6" *ngIf="isLoading"></tfoot>
    </table>
    <card-footer>
        <table-pagination></table-pagination>
    </card-footer>
</card>