<card title="Руководители" [rtList]="getTeachers" #list="rtList" [showBody]="false">
    <card-header>
        <div class="btn-group btn-group-sm pull-right">
            <a type="button" class="btn btn-default" [routerLink]="['/teachers/new']">
                <i class="fa fa-plus"></i>
                Добавить
            </a>
        </div>
    </card-header>
    <table card-table class='table table-bordered table-striped'>
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Кафедра</th>
                <th>Нагрузка</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list.items">
                <td>{{ item.id }}</td>
                <td>
                    <a [routerLink]="[item.id]">
                        {{ item.fio }}
                    </a>
                </td>
                <td>{{ item.position }}</td>
                <td>
                    <a [routerLink]="['/departments', item.departmentId]">{{item.department}}</a>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" 
                         [class.progress-bar-success]="item.workCount!==item.maxWorkCount"
                         [class.progress-bar-danger]="item.workCount===item.maxWorkCount"
                         [style.width.%]="item.workCount/item.maxWorkCount*100"
                         style="min-width: 3em;" >
                         {{item.workCount}}/{{ item.maxWorkCount}}
                        </div>
                    </div>
                </td>
                <td>
                    <a [routerLink]="['/teachers', item.id]">Редактировать</a>
                </td>
            </tr>
        </tbody>
        <tfoot table-footer [colCount]="6" *ngIf="isLoading"></tfoot>
    </table>
    <card-footer>
        <table-pagination></table-pagination>
    </card-footer>
</card>