<form [formGroup]="form">
    <card title="Новая дипломная работа">
        <card-body>
            <input-text title="Название" placeholder="Введите название" [control]="form.controls['name']"></input-text>
            <input-select [control]="form.controls['teacherId']" title="Руководитель" placeholder="Выберите руководителя" [options]="teachersOptions"></input-select>
            <input-select [control]="form.controls['studentId']" title="Студент" placeholder="Выберите студента" [options]="studentsOptions"></input-select>
            <input-area title="Описание работы" placeholder="Введите описание" [control]="form.controls['description']"></input-area>
        </card-body>
        <card-footer>
            <ok-cancel-buttons okTitle="Добавить" (okClick)="submit(form.value)" [okDisabled]="!form.valid" (cancelClick)="goBack()"></ok-cancel-buttons>
            <error-list [errors]="errors"></error-list>
        </card-footer>
    </card>
</form>