<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">
                <span class='fa fa-university'></span>
                АИС Диплом
            </a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav' *ifAuth="true">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Главная
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class='fa fa-user'></span> Данные
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/teachers']">Преподаватели</a>
                        </li>
                        <li>
                            <a [routerLink]="['/students']">Студенты</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a [routerLink]="['/diploms']">Дипломные работы</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class='fa fa-gear'></span> Настройки
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/institutes']">Институты</a>
                        </li>
                        <li>
                            <a [routerLink]="['/departments']">Кафедры</a>
                        </li>
                        <li>
                            <a [routerLink]="['/specialities']">Специальности</a>
                        </li>
                        <li>
                            <a [routerLink]="['/groups']">Группы</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a>Параметры</a>
                        </li>
                    </ul>
                </li>
                <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/norm-control']">
                            <span class='glyphicon glyphicon-home'></span> Нормоконтроль
                        </a>
                </li>
            </ul>
            <div class="navbar-right">
                <UserMenu></UserMenu>
            </div>
        </div>
    </div>
</div>