<card title="Превью ПЗ"  *ngIf="pdfSrc">
    <card-body>
        <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false">
        </pdf-viewer>
    </card-body>
</card>
<card title="Замечания" *ngIf="!pdfSrc">
    <card title="Превью ПЗ"  *ngIf="pdfSrc">
        <card-body>
            <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false">
            </pdf-viewer>
        </card-body>
    </card>
</card>