<div class="row lg-wide">
    <div class="col-md-8">
        <card title="Превью ПЗ" *ngIf="pdfSrc">
            <card-body>
                <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" (click)="previousPage()">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-default">{{page}}</button>
                        <button type="button" class="btn btn-default" (click)="nextPage()">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" (click)="addWarning()">
                            <i class="fa fa-exclamation" aria-hidden="true"></i> Замечание
                        </button>
                        <button type="button" class="btn btn-default" (click)="addError()">
                            <i class="fa fa-times" aria-hidden="true"></i> Ошибка
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success">Завершить</button>
                    </div>
                </div>
            </card-body>
            <card-body>

            </card-body>
            <card-body>
                <pdf-viewer #pdfViewer [(page)]="page" [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false">
                </pdf-viewer>
            </card-body>
        </card>
    </div>
    <div class="col-md-4">
        <card title="Структура работы" [showFooter]="false">
            <card-body>
                <div class="form">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Отзыв руководителя
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Соответствует приказу
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Содержание(оформление)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Аннотация(до 1 стр.)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Введение(2-3 стр.)
                            </label>
                        </div>
                    </div>
                </div>
            </card-body>
        </card>
        <card title="Титульный лист" [showFooter]="false">
            <card-body>
                <div class="form">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Подписи руководителя
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Подписи консультантов
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Задание заполненное и подписанное
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Практическое значение
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Структура работы
                            </label>
                        </div>
                    </div>
                </div>
            </card-body>
        </card>
        <card title="Элементы введения" [showFooter]="false">
            <card-body>
                <div class="form">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Актуальность темы
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Цель и задачи
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Предмет и объект исследования
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Практическое значение
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Структура работы
                            </label>
                        </div>
                    </div>
                </div>
            </card-body>
        </card>
        <card title="Действия" [showFooter]="false">
            <card-body>
                <button type="button" class="btn btn-success">Скачать лист нормоконтроля</button>
            </card-body>
        </card>
    </div>
</div>
<card title="Превью" *ngIf="!pdfSrc">
    <card-body>
        <loading></loading>
    </card-body>
</card>

<card title="Оформление" [showFooter]="false">
    <card-body>
        <div class="form">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Используются матметоды моделирования
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Оформление таблиц
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Оформление рисунков
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Список использовнных источников
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Список принятых сокращений
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Расшифровка сокращений в тексте
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Оформление приложений
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Ссылки на формулы
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Ссылки на приложения
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Ссылки на рисунки
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Ссылки на таблицы
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Ссылки на источники
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </card-body>
</card>
<card title="Замечания" [showBody]="false">
    <table card-table class='table table-bordered table-striped'>
        <thead>
            <tr>
                <th>Тип</th>
                <th>Расположение</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr [class.danger]="error.class=='error'" [class.warning]="error.class=='warning'" *ngFor="let error of errors">
                <td>{{error.class}}</td>
                <td>{{error.position}}</td>
                <td>{{error.description}}</td>
            </tr>
        </tbody>
    </table>
    <card-footer>
        <ng-container *ngIf="errors && errors.length; else elseTemplate">
            Всего ошибок:{{errors.length}}
        </ng-container>
        <ng-template #elseTemplate>
            Нет ошибок
        </ng-template>
    </card-footer>
</card>