<card title="Превью ПЗ" *ngIf="pdfSrc">
    <card-body>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Предыдущая;</button>
                        <button type="button" class="btn btn-default">1</button>
                        <button type="button" class="btn btn-default">Следующая</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Орфография</button>
                        <button type="button" class="btn btn-default">Пунктуация</button>
                        <button type="button" class="btn btn-default">Закончить ошибку</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">Управление правилами</button>
                </div>
            <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Закончить проверку</button>
            </div>
        </div>
    </card-body>
    <card-body>
        <pdf-viewer #pdfViewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false">
        </pdf-viewer>
    </card-body>
</card>
<card title="Замечания" *ngIf="!pdfSrc">
    <card-body>
        <input (change)="onFileSelected()" type="file" id="file" *ngIf="!pdfSrc">
    </card-body>
</card>