<div class="row">
    <div class="col-md-6">
        <card title="Дипломная работа">
            <card-header>
                <div class="btn-group btn-group-sm pull-right">
                    <a [routerLink]="['/calendar', id]" class="btn btn-success">
                        <i class="fa fa-time"></i>
                        Календарный план
                    </a>
                </div>
            </card-header>
            <card-body>
                <div class="form">
                    <div class="form-group">
                        <label class="control-label">Тема работы</label>
                        <p class="form-control-static">
                            {{ work.name }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Студент</label>
                        <p class="form-control-static">
                            {{ work.students }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Руководитель</label>
                        <p class="form-control-static">
                            {{ work.teacher }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Утверждена</label>
                        <p class="form-control-static">
                            {{ work.isAccepted ? "Да" : "Нет" }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дата утверждения</label>
                        <p class="form-control-static">
                            {{ work.acceptDate | date: 'dd.MM.yyyy' }}
                        </p>
                    </div>
                </div>

            </card-body>
        </card>
    </div>
    <div class="col-md-6">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Добавить материал...</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" disabled>Утвердить тему</button>
                <button type="button" class="btn btn-default">Допустить</button>
                <button type="button" class="btn btn-warning">Недопуск</button>
            </div>
        </div>
        <br>
        <file-list title="Материалы" [files]="files" [diplomId]="id"></file-list>
        <input #file type="file" multiple (change)="upload(file.files)" accept=".pdf,.doc,.docx">
        <span *ngIf="uploadProgress > 0 && uploadProgress < 100">
            {{uploadProgress}}%
        </span>
        <norm-control-results></norm-control-results>
    </div>
</div>
<comments></comments>