@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div class="spinner-container main">
        <div class="spinner"></div>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
