<card [title]="title" [showBody]="false">
    <div class="list-group">
        <a class="list-group-item text-center" *ngIf="!files||files.length==0">
            Нет файлов.
        </a>
        <a class="list-group-item" *ngFor="let file of files" (click)="onItemSelected(file)">
            <p class="list-group-item-text">
                <a (click)="downloadFile(file)">{{ file.name }}
                    <!--({{ file.size }} байт)-->
                </a>
                <span class="label label-info">{{ file.type }}</span>
                <span *ngIf="file.isNotePart" class="label label-default">Часть ПЗ</span>
            </p>
        </a>
    </div>
</card>