<card [title]="title" [showBody]="false">
    <card-header>
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default" (click)="addFile()">
                Добавить...
            </button>
        </div>
    </card-header>
    <div class="list-group">
        <a class="list-group-item text-center" *ngIf="!files||files.length==0">
            Нет файлов.
        </a>
        <a class="list-group-item" *ngFor="let file of files">
            <p class="list-group-item-text">
                <a (click)="downloadFile(file)">{{ file.name }} ({{ file.size }} байт)</a> |
        <a [routerLink]="['/norm-control', diplomId]" [queryParams]="{fileId:file.id}">Нормоконтроль</a>
        </p>
        </a>
    </div>
</card>