<form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <card title="Кафедра">
        <card-body>
            <input-text title="Название" placeholder="Введите название" [control]="form.controls['name']"></input-text>
            <input-text title="Краткое название" [control]="form.controls['shortName']"></input-text>
        </card-body>
        <card-footer>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Редактировать</button>
            <a [routerLink]="['/departments']" class="btn btn-default">Отмена</a>
        </card-footer>
    </card>
</form>